.progress {
    margin-bottom: 0;
}

.table tr td{
    padding: 15px 0 !important;
    font-family: Quicksand;
    font-weight: 600;
    border-top: 0 !important;
}

.progress-bar-info {
    background-color: rgb(65, 53, 108);
}

#repoFeelings {
    margin-top: 30px;
}

.title {
    font-family: Quicksand;
    font-weight: 600;
}

.separator {
    margin-top: 50px;
}

.rowRelevantCommits {
    margin-top: 30px;
}

.relevantCommits {
    padding-left: 15px;
    margin-top: 15px;
    font-size: 14px;
    font-family: Quicksand;
    margin-bottom: 50px;
}

.commitLabel {
    font-size: 16px;
    font-weight: 600;
}

.languageStatistic {
    padding: 10px 0;
}

.languageStatistic .progress-bar-info {
    background-color: #5bc0de;
}

.loadingOctocat {
    width: 100px;
    margin-top: 20px;
}
