<div home>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <input type="text" ng-model="inputData.url" class="form-control" id="repo_url" placeholder="Repo URL" style="margin-top: 30px">
        <button ng-click="analyzeLink(inputData.url)" type="button" class="btn btn-primary btn-lg center-block" style="margin-top: 30px">Analyze</button>
      </div>
    </div>

    <hr class="separator">

    <table class="table" id="repoFeelings">
        <tbody>
            <tr>
                <td width="20%">Anger</td>
                <td width="80%">
                    <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{sentiments.anger}}" aria-valuemin="0" aria-valuemax="100" style="width: {{sentiments.anger}}%">
                      </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Disgust</td>
                <td>
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{sentiments.disgust}}" aria-valuemin="0" aria-valuemax="100" style="width: {{sentiments.disgust}}%">
                      </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Fear</td>
                <td>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{sentiments.fear}}" aria-valuemin="0" aria-valuemax="100" style="width: {{sentiments.fear}}%">
                      </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Joy</td>
                <td>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{sentiments.joy}}" aria-valuemin="0" aria-valuemax="100" style="width: {{sentiments.joy}}%">
                      </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Sadness</td>
                <td>
                    <div class="progress">
                      <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="{{sentiments.sadness}}" aria-valuemin="0" aria-valuemax="100" style="width: {{sentiments.sadness}}%">
                      </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <p>
            {{valid_commits}} commits scanned
        </p>
    </div>
</div>
