<div home>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="row myInputGroup">
                <div class="col-xs-9">
                    <input type="text" ng-model="inputData.url" class="form-control" id="repo_url" placeholder="Repo URL">
                </div>
                <div class="col-xs-3">
                    <select class="form-control" ng-model="filterDate">
                        <option value="0">All time</option>
                        <option value="1">Last 24h</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <input type="text" class="form-control formSecondLine" ng-model="inputData.apiKey" placeholder="IBM Alchemy API Key">
                </div>
                <div class="col-xs-6">
                    <button ng-show="!loading" ng-click="analyzeLink(inputData.url)" type="button" class="btn btn-primary btn-block analyzeButton formSecondLine">Show me your feelings!</button>
                </div>
            </div>
            <div class="row text-center">
                <p class="text-muted apiExplain">
                    <strong>IBM Alchemy API Key:</strong> You need to provide an Alchemy API key because there is a 1000 calls diary limit. You can get a free one <a href="http://www.alchemyapi.com/" target="_blank" title="Alchemy api">here</a>. It is very easy to get.
                </p>
		<p>
		    If you don't pretend to do an abusive usage of it, you can use this API key: 770078878d0540dc544058a6d0685b6f3012aebc
		</p>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center" ng-show="loading">
                        <img class="loadingOctocat" src="../assets/daftpunktocat.gif" alt="loading" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="separator">

    <div class="row">
        <div class="col-md-9">
            <table class="table" id="repoFeelings">
                <tbody>
                    <tr>
                        <td width="20%">Anger</td>
                        <td width="80%">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{sentiments.anger}}" aria-valuemin="0" aria-valuemax="100" style="width: {{sentiments.anger}}%">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Disgust</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{sentiments.disgust}}" aria-valuemin="0" aria-valuemax="100" style="width: {{sentiments.disgust}}%">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Fear</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{sentiments.fear}}" aria-valuemin="0" aria-valuemax="100" style="width: {{sentiments.fear}}%">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Joy</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{sentiments.joy}}" aria-valuemin="0" aria-valuemax="100" style="width: {{sentiments.joy}}%">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Sadness</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="{{sentiments.sadness}}" aria-valuemin="0" aria-valuemax="100" style="width: {{sentiments.sadness}}%">
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <img class="kitten" ng-src="../assets/{{octoName}}" alt="octocat" />
        </div>
    </div>

    <div class="row text-center">
        <p></p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row rowRelevantCommits" ng-show="valid_commits">
                <h2 class="title">Relevant commits</h2>

                <div class="row relevantCommits">
                    <p ng-repeat="commit in commits_per_sentiment.anger">
                        <strong class="commitLabel">Angry</strong> - {{commit.user}} - {{commit.commit}}
                    </p>
                    <p ng-repeat="commit in commits_per_sentiment.disgust">
                        <strong class="commitLabel">Disgusting</strong> - {{commit.user}} - {{commit.commit}}
                    </p>
                    <p ng-repeat="commit in commits_per_sentiment.fear">
                        <strong class="commitLabel">Fear</strong> - {{commit.user}} - {{commit.commit}}
                    </p>
                    <p ng-repeat="commit in commits_per_sentiment.joy">
                        <strong class="commitLabel">Joyful</strong> - {{commit.user}} - {{commit.commit}}
                    </p>
                    <p ng-repeat="commit in commits_per_sentiment.sadness">
                        <strong class="commitLabel">Sad</strong> - {{commit.user}} - {{commit.commit}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row rowRelevantCommits" ng-show="valid_commits">
                <h2 class="title">Repo languages</h2>

                <div class="row relevantCommits">
                    <div class="col-xs-12">
                        <div class="row languageStatistic" ng-repeat="language in languages">
                            <div class="col-xs-2">
                                {{language.language}}
                            </div>
                            <div class="col-xs-10">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{language.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{language.percent}}%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
